In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from tqdm import tqdm
import time
import pandas as pd
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

In [15]:
year = []
reviews = []
location = []
user_name = []
votes = []
profile = []

website = 'https://www.tripadvisor.com/SearchForums?q=new+delhi&s='

optons = Options()
# optons.add_argument("--headless")
# optons.add_experimental_option("detach", True)

driver = webdriver.Chrome(service = Service(ChromeDriverManager().install()),
                          options = optons)

driver.get(website)

pg_number = 90

while(True):
    try:
        post_links = driver.find_elements(By.XPATH,'//a[@onclick = "setPID(34631)"]')
        for i in range(len(post_links)):
            button = driver.find_elements(By.XPATH,'//a[@onclick = "setPID(34631)"]')
            button[i].click()
            reviews_ = driver.find_elements(By.XPATH,'//div[@class ="postBody"]')
            dates = driver.find_elements(By.XPATH,'//div[@class = "postDate"]')
            loc = driver.find_elements(By.XPATH,'//div[@class = "location"]')
            name = driver.find_elements(By.XPATH,'//div[@class = "username"]')            
            profile_box = driver.find_elements(By.XPATH, '//div[@class = "profile"]')

            for j in range(len(name)):
                
                p = profile_box[j].text
               
                profile += [p]
                
                if profile == ['']:    
                    continue

                r = reviews_[j].text
                d = dates[j].text
                l = loc[j].text
                #u = name[j].text
                

                ######### for year
                try:
                    diff = int(d.split(' ')[0])
                    y = 2023 - int(diff)
                    
                except:
                    y = int(d.split(',')[1])
                

                year.append(int(y))
                reviews.append(r)
                location.append(l)
                #user_name.append(u)
                profile.append(p)

            driver.back()

        next_button = driver.find_element(By.XPATH, '//a[@href = "/SearchForums?q=new+delhi&s= &o='+ str(pg_number)+'"]')
        next_button.click()
        print(pg_number)
        pg_number = pg_number+10

    except:
        driver.quit()
        break

In [9]:
print(len(profile))
print(len(year))
print(len(reviews))

669
669
669

In [10]:
# user_id = []
# location = []
# rating = []
# for i in profile:
#     data = i.split('\n')
#     if len(data) >1:
#         user_id.append(data[0])
#         location.append(data[1])
#         try:
#             rating.append(data[5].split(' ')[0])
#         except:
#             rating.append('No rating')
#     else:
#         user_id.append(' ')
#         location.append(' ')
#         rating.append(' ')

user_id = []

rating = []
for i in profile:
    data = i.split('\n')
    if len(data) >1:
        user_id.append(data[0])

        check = data[-1]
        check_2 = check.split(' ')
                
        if check_2[1] == 'helpful':
            rating.append(check_2[0])
        else:
            w = 'No Rating'
            rating.append(w)

    else:
        user_id.append(' ')
        rating.append(' ')

In [11]:
print(len(reviews))
print(len(year))
print(len(user_id))
print(len(location))
print(len(rating))

669
669
669
669
669

In [12]:
df = pd.DataFrame([])
df['review'] = reviews
df['year'] = year
df['user_id'] = user_id
df['location'] = location
df['rating'] = rating

In [13]:
df

,review,year,user_id,location,rating
0,We are six of us planing to go to New Delhi in...,2007,Kapikad,Dubai,No Rating
1,January is very cold. first two weeks are very...,2007,delhidjinn,new delhi,No Rating
2,"well, i was in delhi last december and the wea...",2008,yatrikheidi,Washington DC...,142
3,I would appreciate some advice on a tour I wou...,2015,Paul K,"Munich, Germany",79
4,"Hi,\nIf you want to visit delhi agra and jaipu...",2015,discovery25,"Jaipur, India",16
...,...,...,...,...,...
664,You can Contact\nMr Surendra Puri - He speak v...,2017,Kaimur Holidays India,"Auckland, New...",107
665,Hi Laura\nI have used Adventure Holiday Tours ...,2017,nazus,"London, United...",30
666,"hello, ask for Mr. Raj kumar at Shervani Hotel...",2017,punitku,"Munich, Germany",4
667,Dear Laura they all active which is on 2012 po...,2017,Anbalagan S,"Agra, India",No Rating
668,You can also search in the box above corner of...,2017,Rashidagraindia,"Auckland, New...",2

In [16]:
df.head(38)

,review,year,user_id,location,rating
0,I have tried to book through Thalys a Paris-Am...,2008,dbb86,Sicily,No Rating
1,The price of Thalys tickets varies according t...,2008,JanToo,"Eindhoven, The...",4
2,I like using http://www.sncf.com ... it also h...,2008,travelnutty,Florida,32
3,"To answer your other question, waiting until j...",2008,JanToo,"Eindhoven, The...",4
4,I am doing a similar itinerary - flying into A...,2008,out_of_VA,"Arlington, Virginia",77
5,Hi thanks for your valuable feedback. Before g...,2008,dbb86,Sicily,No Rating
6,Have you considered flying one of the discount...,2008,JCM1949,"Sarasota, Florida...",61
7,I hope your cheap flight won't be a disappoint...,2008,JanToo,"Eindhoven, The...",4
8,Hi! Would like to ask if its doable and what i...,2018,natanat,"Singapore, Singapore",2
9,Use this site https://www.seat61.com/ to resea...,2018,JaimeLobo,Central Florida...,10
10,Why don't you fly into Zurich and out of Paris...,2018,Janettravels44,"Chicago, Illinois",93
11,"Yes, check for some open jaw tickets - fly to ...",2018,jm2cents,Schindellegi...,12
12,Agree with others--fly into Zurich and fly out...,2018,Skaerje,Los Angeles...,84
13,I agree with the others. Book your flight into...,2018,MarkinSTL,Saint Louis...,9
14,"I'm off on my honeymoon in November, well we h...",2007,michelle2409,England,No Rating
15,Good heavens what a question for this forum :)...,2007,HappierStill,Massachusetts,4
16,If you don't mind that the weather will probab...,2007,IrishRovr,"Ohio, USA",50
17,"Oh, michelle...I know what you are going throu...",2007,ChicagoHawkey,"Pittsburg, KS",44
18,Perhaps a comparison to London (where we staye...,2007,londonrookie,,26
19,Definitely Paris. The weather will not be grea...,2007,Jeem,"Raleigh, NC",10
20,Yes there are other great cities but.....Paris...,2007,geordy,"New York City, New...",99
21,Ooh la la! C'est Paris pour vous!\nLovely city...,2007,onward,"Calgary, Canada",57
22,Personally I would go somewhere tropical and r...,2007,danigrrrl,Oregon,19
23,Tripadvisor staff has removed this post becaus...,2007,,"Cincinnati, Ohio",
24,We have aa 2 week holiday booked for july. Hav...,2012,hollymop,Auckland Central...,No Rating
25,"You have been advised incorrectly, two weeks i...",2012,Sarastro,"Paris, France",6
26,I have been going to Paris regularly for years...,2012,grndma,"Bolton, United...",75
27,.........Oh and there is a jazz festival on in...,2012,grndma,"Bolton, United...",75
28,Here is a brief list that summarizes many of t...,2012,FrenchMystiqueTours,"Paris, France",12
29,You have a duplicate thread going here... advi...,2012,travelnutty,Florida,32
30,our last two trips have been for two months ea...,2012,Janettravels44,"Chicago, Illinois",93
31,"Hi guys, me and my girlfriend are visiting Par...",2022,Steven R,,No Rating
32,This Support forum is for all of us members to...,2022,Avanti_,Australia,No Rating
33,"Sorry Steven, wrong forum. This forum is meant...",2022,Aldergreen,"Alberta, Canada",172
34,"Hi Steven R,\nWelcome to our forums!\nWe moved...",2022,TA_Veynard,,No Rating
35,This hotel is not in Paris but in a nearby sub...,2022,Dale C,"Melbourne, Australia",163
36,"Yes, if you're going to Paris, stay IN Paris :)",2022,Annette C,California,2
37,Although your hotel is literally 30 metres fro...,2022,dg2006,"Paris, France",14

In [35]:
year = []
reviews = []
location = []
user_name = []
votes = []

website = 'https://www.tripadvisor.com/SearchForums?q=paris&s='

optons = Options()

optons.add_experimental_option("detach", True)

driver = webdriver.Chrome(service = Service(ChromeDriverManager().install()),
                          options = optons)

driver.get(website)

pg_number = 10

while(True):
    try:
        post_links = driver.find_elements(By.XPATH,'//a[@onclick = "setPID(34631)"]')
        for i in range(len(post_links)):
            button = driver.find_elements(By.XPATH,'//a[@onclick = "setPID(34631)"]')
            button[i].click()
            reviews_ = driver.find_elements(By.XPATH,'//div[@class ="postBody"]')
            dates = driver.find_elements(By.XPATH,'//div[@class = "postDate"]')
            #loc = driver.find_elements(By.XPATH,'//div[@class = "location"]')
            name = driver.find_elements(By.XPATH,'//div[@class = "username"]')            
            profile_box = driver.find_elements(By.XPATH, '//div[@class = "profile"]')

            for j in range(len(reviews_)):
                p = profile_box[j].text
                profile = []
                profile += [p]
                
                if profile == ['']:    
                    continue
                   
                r = reviews_[j].text
                
                d = dates[j].text
                #l = loc[j].text
                #u = name[j].text
                
                ######### for year
                try:
                    diff = int(d.split(' ')[0])
                    y = 2023 - int(diff)
                    
                except:
                    y = int(d.split(',')[1])
                
                word = profile[0].split('\n')
                check = word[-1]
                check_2 = check.split(' ')
                
                if check_2[1] == 'helpful':
                    votes.append(check_2[0])
                else:
                    w = ' '
                    votes.append(w)

                year.append(int(y))
                reviews.append(r)
                # location.append(l)
                # user_name.append(u)

            driver.back()

        next_button = driver.find_element(By.XPATH, '//a[@href = "/SearchForums?q=paris&s= &o='+ str(pg_number)+'"]')
        next_button.click()
        print(pg_number)
        pg_number = pg_number+10
        
    except:
        driver.quit()
        break

10

In [39]:
profile

['']

In [36]:
user_id = []
location = []
rating = []
for i in profile:
    data = i.split('\n')
    if len(data) >1:
        user_id.append(data[0])
        location.append(data[1])

        check = data[-1]
        check_2 = check.split(' ')
                
        if check_2[1] == 'helpful':
            votes.append(check_2[0])
        else:
            w = 'No Rating'
            votes.append(w)

    else:
        user_id.append(' ')
        location.append(' ')
        rating.append(' ')

In [25]:
user_name

['dbb86',
 'JanToo',
 'travelnutty',
 'JanToo',
 'out_of_VA',
 'dbb86',
 'JCM1949',
 'JanToo',
 'natanat',
 'JaimeLobo',
 'Janettravels44',
 'jm2cents',
 'Skaerje',
 'MarkinSTL',
 'michelle2409',
 'HappierStill',
 'IrishRovr',
 'ChicagoHawkey',
 'londonrookie',
 'Jeem',
 'geordy',
 'onward',
 'danigrrrl']

In [48]:
df = pd.DataFrame([])

df['Feedback'] = reviews
df['User_Id'] = user_name
df['Location'] = location
df['Year'] = year
df['Votes'] = votes

'JanToo\nEindhoven, The...\nLevel Contributor\n2,924 posts\n3 reviews\n4 helpful votes'

In [7]:
year = []
reviews = []
website = 'https://www.tripadvisor.com/SearchForums?q=paris&s='

optons = Options()

optons.add_experimental_option("detach", True)

driver = webdriver.Chrome(service = Service(ChromeDriverManager().install()),
                          options = optons)

driver.get(website)

pg_number = 10

while(True):
    try:
        post_links = driver.find_elements(By.XPATH,'//a[@onclick = "setPID(34631)"]')
        for i in range(len(post_links)):
            button = driver.find_elements(By.XPATH,'//a[@onclick = "setPID(34631)"]')
            button[i].click()
            reviews_ = driver.find_elements(By.XPATH,'//div[@class ="postBody"]')
            dates = driver.find_elements(By.XPATH,'//div[@class = "postDate"]')
            for j in range(len(reviews_)):
                r = reviews_[j].text
                d = dates[j].text
                try:
                    diff = int(d.split(' ')[0])
                    y = 2023 - int(diff)
                    #print(y)
                except:
                    y = int(d.split(',')[1])
                    #print(y)
                year.append(int(y))
                reviews.append(r)
            
            driver.back()

        next_button = driver.find_element(By.XPATH, '//a[@href = "/SearchForums?q=paris&s= &o='+ str(pg_number)+'"]')
        next_button.click()
        print(pg_number)
        pg_number = pg_number+10
    except:
        driver.quit()
        break



file = open('reviews.txt','w')
for item in reviews:
	file.write(item+"\n")
file.close()


file = open('year.txt','w')
for item in year:
	file.write(item+"\n")
file.close()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
test_data.to_csv('sample_data.csv')